<!doctype html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Massimo Bortolato - Freelance Software Developer</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/default.css">
</head>

<body>
    {% block topbar %}{% endblock %}
    <div class="container limited">



        {% block content %}{% endblock %}


        <script src="/js/bootstrap.bundle.min.js"></script>

    </div>
</body>

</html>