<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Massimo Bortolato - Freelance Software Developer</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/css/default.css">
</head>

<body>
  <div class="container limited">

    <h1 class="text-danger text-center mt-5">500 Internal Server Error</h1>
    <p class="text-center">{{ message }}</p>
    <p class="text-center">Please try again later or contact support.</p>


    <script src="/js/bootstrap.bundle.min.js"></script>

  </div>
</body>

</html>